* {
  box-sizing: border-box;
  background-color: black;
  color: bisque;
}

input,
select,
textarea {
  width: 100%;
  padding: 1px;
}

input {
  color: black;
  padding: 5px;
  font-size: 80%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#header_container {
  border-bottom: 2px solid cadetblue;
}

#header_assign {
  font-weight: 450;
  letter-spacing: 2px;
  font-size: 30px;
  text-align: center;
}

label {
  font-size: 90%;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#container {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 50px;
  padding: 15px;
  border-radius: 10px;
  border: 2px solid cadetblue;
}

.row {
  margin-bottom: 70px;
}

.box {
  background-color: white;
  border-radius: 4px;
  border-style: hidden;
  margin: 4px;
  width: 70%;
}

#login_or_sign_up {
  letter-spacing: 2px;
  padding-bottom: 10px;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.col_25 {
  float: left;
  width: 25%;
  margin-bottom: 6px;
}

.col_75 {
  float: right;
  width: 75%;
  margin-bottom: 6px;
}

#sub_btn {
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
  border: none;
  height: 25px;
  margin-top: 30px;
  width: 20%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
